In [1]:
import pandas as pd

# DateTime Module

In [19]:
dates=pd.date_range('20220401','20220530') # yymmdd

In [8]:
pd.date_range('20220401',periods=365)

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10',
               ...
               '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-25',
               '2023-03-26', '2023-03-27', '2023-03-28', '2023-03-29',
               '2023-03-30', '2023-03-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [17]:
pd.date_range('20220401',periods=100,freq='')

DatetimeIndex([       '2022-04-01 00:00:00', '2022-04-01 00:00:00.001000',
               '2022-04-01 00:00:00.002000', '2022-04-01 00:00:00.003000',
               '2022-04-01 00:00:00.004000', '2022-04-01 00:00:00.005000',
               '2022-04-01 00:00:00.006000', '2022-04-01 00:00:00.007000',
               '2022-04-01 00:00:00.008000', '2022-04-01 00:00:00.009000',
               '2022-04-01 00:00:00.010000', '2022-04-01 00:00:00.011000',
               '2022-04-01 00:00:00.012000', '2022-04-01 00:00:00.013000',
               '2022-04-01 00:00:00.014000', '2022-04-01 00:00:00.015000',
               '2022-04-01 00:00:00.016000', '2022-04-01 00:00:00.017000',
               '2022-04-01 00:00:00.018000', '2022-04-01 00:00:00.019000',
               '2022-04-01 00:00:00.020000', '2022-04-01 00:00:00.021000',
               '2022-04-01 00:00:00.022000', '2022-04-01 00:00:00.023000',
               '2022-04-01 00:00:00.024000', '2022-04-01 00:00:00.025000',
               '2022-04-01 00:00:00.026000', '2022-04-01 00:00:00.027000',
               '2022-04-01 00:00:00.028000', '2022-04-01 00:00:00.029000',
               '2022-04-01 00:00:00.030000', '2022-04-01 00:00:00.031000',
               '2022-04-01 00:00:00.032000', '2022-04-01 00:00:00.033000',
               '2022-04-01 00:00:00.034000', '2022-04-01 00:00:00.035000',
               '2022-04-01 00:00:00.036000', '2022-04-01 00:00:00.037000',
               '2022-04-01 00:00:00.038000', '2022-04-01 00:00:00.039000',
               '2022-04-01 00:00:00.040000', '2022-04-01 00:00:00.041000',
               '2022-04-01 00:00:00.042000', '2022-04-01 00:00:00.043000',
               '2022-04-01 00:00:00.044000', '2022-04-01 00:00:00.045000',
               '2022-04-01 00:00:00.046000', '2022-04-01 00:00:00.047000',
               '2022-04-01 00:00:00.048000', '2022-04-01 00:00:00.049000',
               '2022-04-01 00:00:00.050000', '2022-04-01 00:00:00.051000',
               '2022-04-01 00:00:00.052000', '2022-04-01 00:00:00.053000',
               '2022-04-01 00:00:00.054000', '2022-04-01 00:00:00.055000',
               '2022-04-01 00:00:00.056000', '2022-04-01 00:00:00.057000',
               '2022-04-01 00:00:00.058000', '2022-04-01 00:00:00.059000',
               '2022-04-01 00:00:00.060000', '2022-04-01 00:00:00.061000',
               '2022-04-01 00:00:00.062000', '2022-04-01 00:00:00.063000',
               '2022-04-01 00:00:00.064000', '2022-04-01 00:00:00.065000',
               '2022-04-01 00:00:00.066000', '2022-04-01 00:00:00.067000',
               '2022-04-01 00:00:00.068000', '2022-04-01 00:00:00.069000',
               '2022-04-01 00:00:00.070000', '2022-04-01 00:00:00.071000',
               '2022-04-01 00:00:00.072000', '2022-04-01 00:00:00.073000',
               '2022-04-01 00:00:00.074000', '2022-04-01 00:00:00.075000',
               '2022-04-01 00:00:00.076000', '2022-04-01 00:00:00.077000',
               '2022-04-01 00:00:00.078000', '2022-04-01 00:00:00.079000',
               '2022-04-01 00:00:00.080000', '2022-04-01 00:00:00.081000',
               '2022-04-01 00:00:00.082000', '2022-04-01 00:00:00.083000',
               '2022-04-01 00:00:00.084000', '2022-04-01 00:00:00.085000',
               '2022-04-01 00:00:00.086000', '2022-04-01 00:00:00.087000',
               '2022-04-01 00:00:00.088000', '2022-04-01 00:00:00.089000',
               '2022-04-01 00:00:00.090000', '2022-04-01 00:00:00.091000',
               '2022-04-01 00:00:00.092000', '2022-04-01 00:00:00.093000',
               '2022-04-01 00:00:00.094000', '2022-04-01 00:00:00.095000',
               '2022-04-01 00:00:00.096000', '2022-04-01 00:00:00.097000',
               '2022-04-01 00:00:00.098000', '2022-04-01 00:00:00.099000'],
              dtype='datetime64[ns]', freq='L')

In [18]:
pd.date_range?

In [20]:
dates

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30', '2022-05-01', '2022-05-02',
               '2022-05-03', '2022-05-04', '2022-05-05', '2022-05-06',
               '2022-05-07', '2022-05-08', '2022-05-09', '2022-05-10',
               '2022-05-11', '2022-05-12', '2022-05-13', '2022-05-14',
               '2022-05-15', '2022-05-16', '2022-05-17', '2022-05-18',
               '2022-05-19', '2022-05-20', '2022-05-21', '2022-05-22',
               '2022-05-23', '2022-05-24', '2022-05-25', '2022-05-26',
               '2022-05-27', '2022-05-28', '2022-05-29', '2022-05-30'],
              dtype='datetime64[ns]', freq='D')

In [27]:
import random
df=pd.DataFrame({'name':[chr(i) for i in range(65,91)],'temp':[random.randint(30,50) for i in range(65,91)]})

In [31]:
date=pd.date_range('20220401',periods=26)

In [32]:
df['dates']=date

In [34]:
df['dayofweek']=df['dates'].dt.dayofweek

In [36]:
df['dayofyear']=df['dates'].dt.dayofyear

In [50]:
df['dayname']=df['dates'].dt.day_name()

In [59]:
df[df['weekname']!='Sunday']

   name  temp      dates  dayofweek  dayofyear   weekname    dayname
0     A    38 2022-04-01          4         91     Friday     Friday
1     B    44 2022-04-02          5         92   Saturday   Saturday
3     D    48 2022-04-04          0         94     Monday     Monday
4     E    38 2022-04-05          1         95    Tuesday    Tuesday
5     F    37 2022-04-06          2         96  Wednesday  Wednesday
6     G    46 2022-04-07          3         97   Thursday   Thursday
7     H    32 2022-04-08          4         98     Friday     Friday
8     I    50 2022-04-09          5         99   Saturday   Saturday
10    K    49 2022-04-11          0        101     Monday     Monday
11    L    48 2022-04-12          1        102    Tuesday    Tuesday
12    M    48 2022-04-13          2        103  Wednesday  Wednesday
13    N    40 2022-04-14          3        104   Thursday   Thursday
14    O    31 2022-04-15          4        105     Friday     Friday
15    P    30 2022-04-16          5        106   Saturday   Saturday
17    R    38 2022-04-18          0        108     Monday     Monday
18    S    37 2022-04-19          1        109    Tuesday    Tuesday
19    T    42 2022-04-20          2        110  Wednesday  Wednesday
20    U    49 2022-04-21          3        111   Thursday   Thursday
21    V    46 2022-04-22          4        112     Friday     Friday
22    W    45 2022-04-23          5        113   Saturday   Saturday
24    Y    41 2022-04-25          0        115     Monday     Monday
25    Z    39 2022-04-26          1        116    Tuesday    Tuesday

In [61]:
df.index=df['dates']

In [66]:
df['2020-04-10':'2022-04-20']

           name  temp      dates  dayofweek  dayofyear   weekname    dayname
dates
2022-04-01    A    38 2022-04-01          4         91     Friday     Friday
2022-04-02    B    44 2022-04-02          5         92   Saturday   Saturday
2022-04-03    C    48 2022-04-03          6         93     Sunday     Sunday
2022-04-04    D    48 2022-04-04          0         94     Monday     Monday
2022-04-05    E    38 2022-04-05          1         95    Tuesday    Tuesday
2022-04-06    F    37 2022-04-06          2         96  Wednesday  Wednesday
2022-04-07    G    46 2022-04-07          3         97   Thursday   Thursday
2022-04-08    H    32 2022-04-08          4         98     Friday     Friday
2022-04-09    I    50 2022-04-09          5         99   Saturday   Saturday
2022-04-10    J    38 2022-04-10          6        100     Sunday     Sunday
2022-04-11    K    49 2022-04-11          0        101     Monday     Monday
2022-04-12    L    48 2022-04-12          1        102    Tuesday    Tuesday
2022-04-13    M    48 2022-04-13          2        103  Wednesday  Wednesday
2022-04-14    N    40 2022-04-14          3        104   Thursday   Thursday
2022-04-15    O    31 2022-04-15          4        105     Friday     Friday
2022-04-16    P    30 2022-04-16          5        106   Saturday   Saturday
2022-04-17    Q    31 2022-04-17          6        107     Sunday     Sunday
2022-04-18    R    38 2022-04-18          0        108     Monday     Monday
2022-04-19    S    37 2022-04-19          1        109    Tuesday    Tuesday
2022-04-20    T    42 2022-04-20          2        110  Wednesday  Wednesday

In [ ]:
# sqlalchemy
# sql to pandas  | pandas to sql